<!doctype html>
{% load static %}
<html lang="en" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}{{title}}{% endblock %}</title>
    <script defer="defer" src="{% static 'myadmin/js/script.js' %}"></script>
    <link href="{% static 'accounts/css/style.css' %}" rel="stylesheet">
</head>
<body>
<div class="container-fluid">

    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="{% url 'myadmin:myadmin' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-body text-decoration-none">
        <span class="fs-4">Myadmin</span>
      </a>

      <ul class="nav nav-pills">
        <li><a href="{% url 'logout'%}" class="nav-link text-body text-decoration-none">Logout</a></li>
            <li> <div class="dropdown" id="theme-switcher">
            <button class="btn btn-outline-body dropdown-toggle" type="button" id="bd-theme" data-bs-toggle="dropdown" aria-expanded="false">
                <span id="bd-theme-text">Theme</span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="bd-theme">
                <li> <button class="dropdown-item" type="button" data-bs-theme-value="light">Light</button></li>
                <li> <button class="dropdown-item" type="button" data-bs-theme-value="dark">Dark</button> </li>
                <li> <button class="dropdown-item" type="button" data-bs-theme-value="auto">Auto</button> </li>
            </ul>
        </div></li>
      </ul>
    </header>

    {% block content %}{% endblock %}


  </div>
<script src="{% static 'myadmin/js/theme.js' %}"></script>
</body>
</html>