{{ month_graph.script|safe }}
{{ year_graph.script|safe }}
{{today_pie_chart.script|safe}}
{{yesterday_pie_chart.script|safe}}
{{past_7_days_graph.script|safe}}

<div class="container-fluid mt-5 pt-5">
<div class="pt-2">
    <p class="fs-2">{{ model|capfirst }}</p>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
          {{today_pie_chart.div|safe}}
      </div>
      <div class="col">
        {{yesterday_pie_chart.div|safe}}
      </div>
      <div class="col">
          {{ past_7_days_graph.div|safe }}
      </div>
    </div>
</div>

<div class="pt-2">
  {{ month_graph.div|safe }}
</div>

<div class="pt-2">
{{ year_graph.div|safe }}
</div>
    <hr>
</div>